# CONFIGURATION ENVIRONNEMENT PRODUCTION DJANGO - MMA SCORING JAES 2026
# Copier ce fichier sous le nom '.env' sur le serveur VPS

# Clé secrète Django (Générer une nouvelle clé unique pour la production)
SECRET_KEY=django-insecure-20!!s5#25v6y-kj#3a-^(o_w0k^a(f1^j+@*q0ep@ka#h%owg6

# Mode Débogage (Désactiver en production : False)
DEBUG=True

# Noms de domaine & IP autorisés (ex: mma.teeritech.bf, 167.86.109.31, localhost)
ALLOWED_HOSTS=*,mma.teeritech.bf
